[Desktop Entry]
Comment=Next-GTheme for Biglinux.
Name=Next-G
X-KDE-PluginInfo-Author=Douglas Guimarães
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=dg2003gh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=org.biglinux.desktop.next-g
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/biglinux/
X-KDE-ServiceTypes=Plasma/LookAndFeel
